<html>
    <head>
        {{>partials/styles}}
    </head>
    <body>
        <h1>Preview your templates</h1>
        <img class="logo" src="{{ image }}">
        <p>
            Changes are applied in real time!
        </p>
        {{>partials/footer}}
    </body>
</html>